.posting__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  margin-bottom: 10px;
  height: 30px;
}

.posting__title input {
  height: 80%;
}

#input__title {
  width: 60%;
}

.posting__body {
}

#input__desc {
  height: 300px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.posting__footer {
  padding-top: 10px;
}
