.content__wrapper {
  width: 75vw;
  margin-right: 5vw;
  margin-left: 25vw;
}

.content__wrapper h1 {
  font-size: 25px;
  margin-left: 20px;
}

.content__header {
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid gray;
}

.content__content {
  border: 1px solid gray;
  border-radius: 1vw;
  padding: 10px 20px;
  margin: 20px;
}

.content__list__header {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content__list__header input {
  height: 20px;
}

.content__list__body {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  padding: 20px 0;
}

.content__list__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.content__list__title p {
  margin: 2px;
  font-size: 14px;
}

.content__lists {
  display: flex;
  flex-direction: column-reverse;
}

.content__lists li {
  padding: 3px;
  margin: 1px;
  border: 1px solid gray;
  text-align: left;
}

.content__list__footer {
  display: flex;
  justify-content: flex-end;
}

.btn__posting {
}
